<div class="content">

  <div style="border-bottom: 1px solid #333; margin-bottom: 60px;">

    <h1 (click)="data.setLoading()">Program Manager</h1>
    <p>a demo application</p>
  </div>

<div>

  <div *ngFor="let program of data.projection$ | async" class="programContainer">
    <h2>{{ program.name }}</h2>

    <!-- placeholder when no activities -->
    <div *ngIf="program.activities.length === 0" class="activity__placeholder">
      This program doesn't have any activities yet. You can create one below.
    </div>

    <!-- list of activities -->
    <div *ngFor="let activity of program.activities">
      
      <flex-row class="activity__container">
          <flex-col style="flex-grow: 1;">
              <div class="activity__name">{{ activity.name }}</div>
              <div style="color: gray; font-size: 12px;">
                  <span *ngIf="activity.expected_start_date">{{ activity.expected_start_date | date:'mediumDate' }}</span>
                  <span *ngIf="activity.expected_end_date"> - {{ activity.expected_end_date | date:'mediumDate' }}</span>
                </div>
          </flex-col>
          <!-- delete activity -->
          <button (click)="data.deleteActivity(activity.id)" class="activityForm__delete">delete activity</button>
      </flex-row>
    </div>

    <!-- new activity form -->
    <app-activity-form [programURL]="program.url"></app-activity-form>

  </div>
</div>
</div>


<!-- overlay -->
<div id="overlay" *ngIf="(data.ui$ | async)?.loading">
    <div class="loader"></div>
</div>